// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.project
  border: 1px solid #ccc
  overflow: hidden
  
  img 
    margin: 12px 36px 12px 12px

  .info
    margin: 12px 12px 12px 0
    position: relative
    
    h2
      margin: 0
      
    p 
      margin: 36px 0
      
