body 
  padding-top: 50px
  padding-bottom: 20px

.navbar
  border-bottom: 1px solid #efefef
  background-color: #fff
  a
    color: #333
    &:hover
      background-color: white
      color: #333
      
.jumbotron 
  background: transparent image-url('header.jpg') center no-repeat
  border-bottom: 1px solid #efefef
  margin-bottom: 30px

  .container
    padding-bottom: 24px
    .buffer
      padding: 21px 0 12px 0
    .btn
      margin-right: 24px      
  
.footer
  padding: 60px
  .container
    padding: 6px
    border-top: 1px solid #efefef
    a
      color: #666

.square-ad
  width: 300px
  height: 300px
  background-color: red
  margin: auto

.skyscraper-ad
  width: 160px
  height: 600px
  background-color: red
  margin: auto

a, a:hover, a:visited
  cursor: pointer
  color: #2a6496
  background-color: transparent

.centered
  margin: auto
  float: none

.text-centered
  text-align: center

.title-font
  font-family: 'Muli', sans-serif

textarea
  min-height: 120px

.form_group
  padding: 12px 0

.tight
  margin-bottom: 0
