a, a:hover, a:visited
  cursor: pointer
  color: #2a6496
  background-color: transparent

.centered
  margin: auto
  float: none

body 
  padding-top: 50px
  padding-bottom: 20px

.navbar
  font-family: 'Muli', sans-serif
  border-bottom: 1px solid #efefef
  background-color: #fff
  a
    color: #333
    &:hover
      background-color: white
      color: #333

.form_group
  padding: 12px 0
  
textarea
  min-height: 120px