@import 'mixins'

.welcome-page
  .ages
    background-color: #efefef
    color: #666
    padding: 6px 0
    margin-bottom: 30px
    width: 480px
    @include border-bottom-left-radius(12px)
    @include border-bottom-right-radius(12px)
  
  .project_lists
    .header
      display: block
      border-bottom: 1px solid #b3b3b1
      border-top: 1px solid #b3b3b1
      color: #b3b3b1
      text-transform: uppercase
      text-align: center
      &:hover
        background-color: #efefef
        color: #333
        text-decoration: none
      
      
